@import 'tailwindcss';
@import '@nuxt/ui';
@import './transition.css';
@import './nprogress.css';
@import './scrollbar.css';
@import 'vue3-draggable-resizable/dist/Vue3DraggableResizable.css';

body {
  font-family: 'Maple Mono', 'Inter';
}

body::selection {
  background-color: rgb(0, 193, 106);
  color: #fff;
}
